body{
    background-image: url(../img/maison1.jpg);
    background-size: cover;
}
.baniere_nav{
    height: 155px;
    background-color: rgba(0, 0, 0, 0.5);
}
.logo{
    display: flex;
    justify-content: flex-start;
}

.toggle_btn{
    float: right;
    height: 30px;
    width: 30px;
    position: relative;
    margin-right: 30px;
    margin-top: 10px;
    cursor: pointer;
}
.toggle_btn span{
    float: right;
    height: 3px;
    background-color: white;
    width: 50px;
    position: absolute;
    top: 20px;
    left: 0;
}
.toggle_btn span:before{
    content:"";
    height: 3px;
    background-color: white;
    width: 100%;
    position: absolute;
    top: -10px;
    left: 0;
}
.toggle_btn span:after{
    content:"";
    height: 3px;
    background-color: white;
    width: 100%;
    position: absolute;
    top: 10px;
    left: 0;
}

.menu{
    height: 100%;
    width: 1000px;
    background-color: rgba(7, 153, 146, 0.4);
}
.menu a{
    color: white;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
}

.nav ul{
    list-style-type: none;
    height: 100%;
    width: 94%;
}
.nav ul li{
    font-size: 2em;
    margin-top: 30px;   
}
.nav ul li:hover{
    background-color: rgb(189, 55, 55); 

.nav{
    margin-left: -1700px;
    transition-duration: 1s;
}
.nav_open{
    // position: absolute;
    margin-left: 50%;
    margin-right: 50%;
    transform: translateX(-50%);
}
@media (min-width: 640px){
    body{
        background-size: cover;
        background-repeat: no-repeat;
    }
    .menu ul li{
        font-size: 1em;
    }
}


