hr{
    margin: 0rem;
    border-top: 2px solid #000000b2;
    border-bottom: 3px solid #9e0000b2;
}
strong{
    font-size: 18px;
    color: #131616;
}
.formulaireventeh3{
    text-align: center;
}
.bbttnn{
    background-color: crimson;
    color: rgb(0, 0, 0);
    border: 2px 2px 2px solid purple;
}